body{
    background-color: black;
    
}
hi{
    text-transform: uppercase;
  font-size: 3rem;
}
.image{
    border: 5px, solid white;
    width: 100%;
}
#poster{
    
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    text-align: center;
    color: white;
}
