body{
      background-color: black;
    }

    h1{
        text-transform: uppercase;
        font-size: 3rem;
    }
    div{
      color: white;
      width: 50%;
      margin-left: 25%;
      text-align: center;
      margin-top: 100px;
    }

    img{
      border: 5px, solid white;
      width: 100%;
    }